
body {
	font-family: Georgia, "Times New Roman",Times,serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}
.main_header {
	font-family: "American Typewriter", Times, serif;
	font-size: 300%;
	letter-spacing: 0.8em;
	text-align: center;
	width:100%;
}
